body {
    background-image: url(../bcgg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    background-color: #eee;
    color: black;
}
.btn:hover {
    background-color: blueviolet;
}


#start {
    display: flex;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 10px 0 15px;
    width: 100%;
}

